{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    {{ blog_message.title }}
{% endblock %}

{% block nav_blog_active %}
    active
{% endblock %}

{% block header_extends %}
    <link rel="stylesheet" href="{% static 'blog/blog.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-4.1.3/css/bootstrap.min.css' %}">
{% endblock %}

{% block content %}

    <div class="blog-message-content">
        <h3>{{ blog_message.title }}</h3>
        <ul>
            <li>作者：{{ blog_message.author }}</li>
            <li>发表日期：{{ blog_message.created_time|date:"Y-m-d G:n:s" }}</li>
            <li>分类：
                <a href="{% url 'blogs_with_type' blog_message.blog_type.pk %}">{{ blog_message.blog_type }}</a>
            </li>
            <li>阅读（{{ blog_message.get_read_num }}）</li>
        </ul>

        <div class="blog-content">
            <p>{{ blog_message.content|safe }}</p>
        </div>
        <div class="blog-more">
            <span>
                {% if previous_blog %}
                    <a href="{% url 'blog_detail' previous_blog.pk %}">上一篇：{{ previous_blog.title }}</a>
                {% else %}
                    没有了
                {% endif %}
            </span>
            <span>
                {% if next_blog %}
                    <a href="{% url 'blog_detail' next_blog.pk %}">下一篇：{{ next_blog.title }}</a>
                {% else %}
                    没有了
                {% endif %}
            </span>
        </div>
        <div class="comment-area">
            <h3 class="comment-area-title">
                提交评论区域
            </h3>
            {% if user.is_authenticated %}

                <form action="{% url 'update_comment' %}" method="post" style="overflow: hidden">
                    <label>{{ user.username }}欢迎评论~</label>
                    {% csrf_token %}
                    {{ comment_form }}
                    <input type="submit" value="评论" class="btn btn-primary" style="float: right">
                </form>
            {% else %}
                未登录,登陆之后方可评论
                <a href="{% url 'login' %}?from={{ request.get_full_path }}" class="btn btn-primary">登录</a>
                <span>or</span>
                <a href="{% url 'register' %}?from={{ request.get_full_path }}" class="btn btn-danger">注册</a>

            {% endif %}
        </div>
        <div class="comment-area">
            <h3 class="comment-area-title">
                评论列表
            </h3>
            {% for comment in comments %}
                <div>
                    {{ comment.user.username }}
                    ({{ comment.comment_time|date:"Y-m-d H:n:s" }}):
                    {{ comment.text }}
                </div>
            {% empty %}
                暂无评论
            {% endfor %}

        </div>

    </div>


{% endblock %}


