{% extends 'base.html' %}

{% block title %}
    {{ context.blog_type }}
{% endblock %}

{% block nav_blog_active %}
active
{% endblock %}

{% block content %}
    <h2>{{ blog_type }}</h2>
    {% for blog in context %}
        <a href="{% url 'blog_detail' blog.pk %}">
            <h3>{{ blog.title }}</h3>
        </a>

        <p>{{ blog.content|truncatechars:50 }}</p>
        {% empty %}
            <p>----------暂无内容----------</p>
    {% endfor %}
    <p>一共有{{ context|length }}篇博客</p>
{% endblock %}

