<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>添加老师</h1>
    <a href="/teachers/">返回</a>
    <form action="/add_teacher/" method="post">
        <p>姓名：<input type="text" name="name" placeholder="老师姓名"></p>
        <p>任课班级:
            <select multiple name="class_ids">
                {% for item in class_list %}
                    <option value="{{ item.id }}">{{ item.title }}</option>
                {% endfor %}
            </select>
        </p>
        <p><input type="submit" value="提交"></p>
    </form>
</body>
</html>