{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    我的网站|注册
{% endblock %}

{% block header_extends %}
    <style>
    ul {
        list-style-type: none;
    }
    </style>
    <link rel="stylesheet" href="{% static 'bootstrap-4.1.3/css/bootstrap.min.css' %}">
{% endblock %}

{% block nav_home_active %}
active
{% endblock %}

{% block content %}
    <div class="container">

        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header">
                        <h3 class="panel-title">注册</h3>
                    </div>
                    <div class="card-body">
                        <form action="" method="post">
                             {% csrf_token %}
                             {% for filed in reg_form %}
                                 <label for="{{ filed.id_for_label }}">{{ filed.label }}</label>
                                 {{ filed }}
                                 <p class="test-danger" style="color: red">{{ filed.errors.as_text }}</p>
                             {% endfor %}
                             <span class="float-left text-danger">{{ reg_form.non_field_errors }}</span>
                             <input type="submit" value="注册" class="btn btn-primary float-right">
                         </form>
                    </div>
                </div>
            </div>

        </div>

    </div>

{% endblock %}